@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    --blur-white: rgba(255, 255, 255, 0.8);
    --dark-gray: #7A7878;
    --dark-cyan: #009C8E;

    --screen-md: 480px; /*Mobile devices*/
    --screen-tb: 768px; /*iPads, Tablets*/
    --screen-sc: 1024px; /*Small screens, laptops*/
    --screen-dk: 1200px; /*Desktops, large screens*/
    /*Extra large screens, TV goes beyond 1201px*/
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.topmessage{
    display: flex;
    justify-content: center;
    width: 100%;

    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: var(--dark-gray);
    background-color: var(--blur-white);
}

.header-welcome{
    display: inline-grid;
    width: 100%;
}

.header-welcome>div{
    grid-column: 1;
    grid-row: 1;
}

.header-welcome>div:first-child{
    z-index: 1;
}

header{
    height: 10vh;
    width: 100%;
    background-color: var(--blur-white);
}

#logo{
    margin-left: 6vw;
    width: 10%;
    height: 100%;
    float: left;
}

#logo img{
    height: 100%;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.4vw;
    width: 20%;
    height: 100%;
    float: left;
}

#menu a{
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-decoration: none;
    color: black;
}

#search-cart{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 3.4vw;
    float: left;
}

#search{
    display: flex; 
    width: 100%;
    height: 50%;
    border: 2px solid var(--dark-gray);
    border-radius: 10px 0 0 10px;
}

#search input{
    display: flex; 
    align-items: center;
    margin-left: 0.5vw;
    border: 0;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

#search input:focus{
    outline: transparent;
}

#search input::placeholder{
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: var(--dark-gray);
}

#search img{
    padding-top: 0.2rem;
    padding-right: 0.5rem;
    height: 70%;
    cursor: pointer;
}

#cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    border: 2px solid var(--dark-gray);
    border-left: 0;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
    cursor: pointer;
    padding:0 0.5rem 0 0.5rem;
}

#cart img{
    height: 85%;
}

#cart-count{
    position: relative;
    top: -25%;
    right: 5%;
    display: grid;
    opacity: 0;
}

#cart-count embed, #cart-count span{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

#cart-count span{
    color: white;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

#login{
    display: flex;
    align-items: center;
    float: right;
    width: 15%;
    height: 100%;
}

#login a{
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: black;
}

.welcome{
    display: inline-grid;
    width: 100%;
}

.welcome div{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome div:nth-child(2){
    align-self: flex-end;
    width: 100%;
}

#caption{
    flex-direction: column;
    justify-content: flex-start;
}

#caption h1{
    width: 30%;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 18%;
}

#caption a{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #009C8E;
    box-shadow: 5px 3px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

#caption a span {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: white;
    padding: 1rem;
}

.welcome div img, .welcome div embed{
    width: 100%;
}

.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular h1{
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.5rem;
    margin-bottom: 39px;
}

.popular>div{
    display: grid;
    grid-template-columns: repeat(auto-fill, 40vh);
    column-gap: 6rem;
    width: 80%;
    justify-content: center;
}

#product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 2rem;
}

#product-card>div:first-child{
    padding: 1.5rem 0.5rem 0.75rem 0.5rem;
    border-radius: 50%;
}

#product-card>div>img{
    width: 100%;
}

#product-card>div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    width: 100%;
}

#product-card>div>span:first-child{
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: #E87121;
}

#product-card>div>p{
    font-family: 'Milonga', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: black;
    margin: 0;
}

#product-card>div>span:last-child{
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #078E25;
    margin-top: 0.75rem;
}

#product-card>a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    height: 3rem;
    background: #078E25;
    border-radius: 20px 5px 40px;
    text-decoration: none;
    margin-left: auto;
    cursor: pointer;
}

#product-card>a>span{
    color: white;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.5rem;
}

.popular>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 52px;
}

.popular>a>span{
    margin-right: 0.75rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 75px;
}

.video>h1{
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.5rem;
    margin-bottom: 39px;
}

.video>div{
    width: 70vw;
    height: 39.375vw;
}

.video>div>iframe{
    width: 100%;
    height: 100%;
}

.rating{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.rating h1{
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.5rem;
    margin-top: 105px;
}

.rating>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#rating-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 20vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 20px;
    margin-top: 34px;
    padding: 2rem 4rem 0px 3rem;
}

#rating-userphoto {
    width: 10%;
    height: 70%;
}

#rating-userphoto img{
    width: 100%;
    height: 100%;
}

#rating-content {
    margin-left: 2rem;
    width: 60%;
}

#rating-content div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#rating-content div span{
    margin-left: auto;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

#rating-content div h3{
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #EA5F40;
    margin: 0;
}

#rating-content p{
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    padding-left: 1.5rem;
}

#rating-stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    height: 55%;
}

#rating-stars span{
    font-weight: 700;
    font-size: 4rem;
    line-height: 3rem;
    color: #FFDB6A;
}

#rating-stars embed{
    margin-left: 0.5rem;
}

.contact{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 65px;
}

.contact>h1{
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.5rem;

    margin-bottom: 29px;
}

.contact>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 45vh;
    margin: 0 2rem 0 2rem;
}

#location{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

#location>h2{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#location>p{
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    height: 15vh;
    background-color: black;
    margin-top: 2rem;
    padding: 1.5rem 8.5vw 0 8.5vw;
}

footer>div:first-child{
    display: flex;
    flex-direction: column;
}

footer>div>span{
    margin-top: 1.1rem;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: white;
}

#social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#social-media a{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

#social-media a img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#flag{
    margin-left: auto;
}

@media screen and (max-width: 1024px){
    #logo{
        height: 80%;
    }

    #menu {
        width: 35%;
        margin-left: 6vw;
        justify-content: flex-start;
    }

    #menu a {
        font-size: 1rem;
        margin-left: 3rem;
    }
  
    #search-cart{
        float: right;
        margin-left: 6vw;
    }

    #search{
      position: absolute;
      opacity: 0;
      left: 0;
      height: 0;
      width: 0;
    }

    #cart{
        border-left: 2px solid black;
        border-radius: 10px;
    }

    #login{
        width: 10%;
    }

    #caption h1{
        width: 50%;
        font-size: 2rem;
        margin-top: 25%;
    }
    
    #caption a span {
        font-size: 1rem;
    }

    #location>h2{
        font-size: 1rem;
    }
    
    #location>p{
        font-size: 0.75rem;
    }

    #rating-userphoto {
        width: 20%;
        height: 70%;
    }

    #rating-content div span{
        font-size: 0.6rem;
    }
    
    #rating-content div h3{
        font-size: 1rem;
    }
    
    #rating-content p{
        font-size: 0.8rem;
        padding-left: 1rem;
    }

    #rating-box {
        padding: 2rem 1rem 0px 3rem;
    }

    #rating-stars{
        padding-left: 1rem;
    }

    .rating>div{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    #logo{
        height: 80%;
    }

    #menu {
        width: 40%;
    }
  
    #search-cart{
        margin-left: 15vw;
    }

    #login a{
        font-size: 1rem;
    }
}

@media screen and (max-width: 640px){
    #logo{
        height: 70%;
    }

    #menu {
        width: 35%;
        margin-left: 10vw;
        justify-content: flex-start;
    }

    #menu a {
        font-size: 0.8rem;
        margin-left: 1rem;
    }
  
    #search-cart{
        margin-left: 15vw;
        height: 90%;
    }

    #login img{
        height: 50%;
    }
}

@media screen and (max-width: 480px){
    .topmessage span{
        font-size: 0.5rem;
    }

    #logo{
        height: 60%;
    }

    #menu {
        width: 50%;
        margin-left: 10vw;
        justify-content: flex-start;
    }

    #menu a {
        font-size: 0.8rem;
        margin-left: 1rem;
    }
  
    #search-cart{
        position: absolute;
        opacity: 0;
        left: 0;
        height: 0;
        width: 0;
    }

    #login{
        float: left;
        margin-left: 0rem;
    }

    #login a {
        font-size: 0.8rem;
    }
}