@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html{
    overflow: hidden;
}

body{
    margin: 0px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    height: max-content;
}

.art{
    position: relative;
    width: 867px;
    height: 719px;
    background-color: #0E022E;
}

#caption{
    position: absolute;
    top: 360px;
    left: 140px;

    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: white;
}

#copyright{
    position: absolute;
    bottom: 11px;
    left: 14px;

    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: white;
}

.fields{
    position: relative;
    width: 673px;
    height: 719px;
}

.fields img{
    width: 180px;
    height: 220px;
    margin: 23px 0 17px 0;
}

.fields form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#password, #username{

    margin: 18px 0 18px 0;
    width: 350px;
    height: 43px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #7A7878;

    border: 0;
    border-bottom: 1px solid #7A7878;
}

#password::placeholder, #username::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

#password:focus, #username:focus{
    outline: transparent;
}


#togglePassword{
    position: absolute;
    right: 170px;
    top: 347px;

    background-color: transparent;
    border: 0;
    cursor: pointer;
    align-items: center;
}

#togglePassword img{
    height: 28px;
    width: 28px;
    cursor: pointer;
}

#submitButton{
    width: 173px;
    height: 60px;
    margin-top: 50px;

    background: #009C8E;
    box-shadow: 5px 3px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    cursor: pointer;
}

#remember{
    position: relative;
    margin-top: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 43px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #7A7878;
}

#remember div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#remember a{
    position: absolute;
    right: 0px;

    font-weight: bold;
    color: #009C8E;
    text-decoration: none;
}

#remember div input{
    width: 18px;
    height: 18px;
    margin-right: 7px;

    cursor: pointer;
}

#register{
    width: 368px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 18px;

    font-size: 18px;
    line-height: 24px;
}

#register p{
    padding-right: 4px;
    font-weight: 400;
    color: #7A7878;
}

#register a{
    text-decoration: none;
    font-weight: 700;
    color: #009C8E;
}

#return{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
    font-weight: 500;
    font-size: 20px;

    width: 88px;
    height: 43px;
    top: 55px;
    left: -144px;

    z-index: 2;
    color: black;
}

#return img{
    height: 43px;
}

#return span{
    margin: 3px 0 0 3px;
}

#waves{
    position: absolute;
    height: 725px;

    right: -1px;
    z-index: 1;
}

#decoration{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 725px;
    width: 850px;

    z-index: 0;
}

::placeholder {
    color: var(--c, #7A7878);
  }