@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    --gray: #787878;
    --dark-cyan: #009C8E;

    --screen-md: 480px; /*Mobile devices*/
    --screen-tb: 768px; /*iPads, Tablets*/
    --screen-sc: 1024px; /*Small screens, laptops*/
    --screen-dk: 1200px; /*Desktops, large screens*/
    /*Extra large screens, TV goes beyond 1201px*/
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.art{
    width: 60%;
    background-color: #0E022E;
    display: inline-grid;
    height: 100vh;
}

.art>div{
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    height: 100vh;
}

.art>div:first-child{
    z-index: 1;
    justify-content: flex-end;
}

.art>div>img, .art>div>embed{
    height: 100%;
}

.art>span{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    font-weight: 700; 
    color: white;
}

.caption{
    font-size: 2.5rem;
    line-height: 3rem;
    justify-content: flex-start;
    margin-left: 20%;
}

.art>span:last-child{
    justify-content: flex-start;
    align-self: flex-end;
    margin: 0.7rem;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.fields{
    width: 40%;
    display: inline-grid;
}

.return, .fields form, #lines{
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    display: flex;
}

.return{
    position: relative;
    z-index: 2;
    left: -6rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
    cursor: pointer;
}

.return>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    color: black;
}

.return>a>span{
    margin-left: 0.5rem;
}

.fields form{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    margin-left: 3rem;
    margin-top: 2rem;
    height: 90%;
}

#lines{
    height: 100vh;
    justify-content: flex-end;
}

#lines>embed{
    height: 100%;
    margin-right: 2rem;
}

#header{
    height: 5.5rem;
    width: 60%;   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#header>h1{
    margin-bottom: .7rem;
    line-height: 3.5rem;
}

#header>div{
    width: 100%;
}

#header>div>embed{ 
    height: 100%;
}

#name, #address, #password, #username{
    margin: 1rem 0 1rem 0;
    width: 60%;
    height: 2.6rem;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.5rem;
    color: var(--gray);
    border: 0;
    border-bottom: 1px solid var(--gray);
}

#name::placeholder, #address::placeholder, #password::placeholder, #username::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.5rem;
}

#name:focus, #address:focus, #password:focus, #username:focus{
    outline: transparent;
}

#passwordContainer{
    width: 60%;
    display: inline-grid;
}

#password{
    width: 100%;
}

#password, #togglePassword{
    grid-column: 1;
    grid-row: 1;
    display: flex;
}

#togglePassword{
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    width: 10%;
    margin-left: auto;
}

#togglePassword>img{
    height: 40%;
}

#remember{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 2.6rem;
    font-size: 0.85rem;
    line-height: 1.5rem;
    color: var(--gray);
}

#remember>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#remember>div:first-child{
    margin-bottom: 9px;
}

#remember>div>input{
    accent-color: var(--dark-cyan);
    cursor: pointer;
}

#remember>div>span>strong{
    color: var(--dark-cyan);
}

.submit-login{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton{
    width: 50%;
    height: 3.6rem;
    margin-top: 50px;
    background: #009C8E;
    box-shadow: 5px 3px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    cursor: pointer;
}

#login{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18px;
    font-size: 1.15rem;
    line-height: 1.5rem;
}

#login p{
    margin-right: 0.5rem;
    font-weight: 400;
    color: var(--gray);
}

#login a{
    text-decoration: none;
    font-weight: 700;
    color: var(--dark-cyan);
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
    .caption{
        font-size: 1.6rem;
    }
    
    .art>span:last-child{
        font-size: 0.5rem;
    }

    #name, #address, #password, #username{
        font-size: 0.9rem;
        height: 2rem;
    }

    #name::placeholder, #address::placeholder, #password::placeholder, #username::placeholder{
        font-size: 0.9rem;
    }
    
    #remember{
        font-size: 0.6rem;
    }

    #submitButton{
        height: 2.5rem;
        font-size: 1rem;
        margin-top: 30px;
    }

    #login{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 1024px){
    .container{
        justify-content: center;
    }

    .art{
        display: none;
    }

    .fields{
        width: 90%;
    }

    .fields form{
        margin-top: 5vh;
        height: 90vh;
        align-items: center;
    }

    .return{
        left: 0rem;
    }   

    #remember{
        width: 60%;
    }

    #lines{
        display: none;
    }

    #password{
        margin-top: .5rem;
    }

}